In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('operations').getOrCreate()

In [3]:
#Loading datasets
dataset1 = spark.read.csv('Datasets/traindataset.csv', inferSchema=True, header=True)
dataset2 = spark.read.csv('Datasets/testdataset.csv', inferSchema=True, header=True)
#Printing the types of attributes
dataset1.printSchema()
dataset2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- hypertension: integer (nullable = true)
 |-- heart_disease: integer (nullable = true)
 |-- ever_married: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- Residence_type: string (nullable = true)
 |-- avg_glucose_level: double (nullable = true)
 |-- bmi: double (nullable = true)
 |-- smoking_status: string (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- hypertension: integer (nullable = true)
 |-- heart_disease: integer (nullable = true)
 |-- ever_married: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- Residence_type: string (nullable = true)
 |-- avg_glucose_level: double (nullable = true)
 |-- bmi: double (nullable = true)
 |-- smoking_status: string (nullable = true)

In [4]:
#Displaying datasets
dataset1.show()
dataset2.show()

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|30669|  Male| 3.0|           0|            0|          No|     children|         Rural|            95.12|18.0|           null|
|30468|  Male|58.0|           1|            0|         Yes|      Private|         Urban|            87.96|39.2|   never smoked|
|16523|Female| 8.0|           0|            0|          No|      Private|         Urban|           110.89|17.6|           null|
|56543|Female|70.0|           0|            0|         Yes|      Private|         Rural|            69.04|35.9|formerly smoked|
|46136|  Male|14.0|           0|            0|          No| Never_worked|         Rural|           161.28|19.1|           null|
|32257|Female|47.0|           0|            0|         Yes|      Private|         Urban|           210.95|50.1|           null|
|52800|Female|52.0|           0|            0|         Yes|      Private|         Urban|            77.59|17.7|formerly smoked|
|41413|Female|75.0|           0|            1|         Yes|Self-employed|         Rural|           243.53|27.0|   never smoked|
|15266|Female|32.0|           0|            0|         Yes|      Private|         Rural|            77.67|32.3|         smokes|
|28674|Female|74.0|           1|            0|         Yes|Self-employed|         Urban|           205.84|54.6|   never smoked|
|10460|Female|79.0|           0|            0|         Yes|     Govt_job|         Urban|            77.08|35.0|           null|
|64908|  Male|79.0|           0|            1|         Yes|      Private|         Urban|            57.08|22.0|formerly smoked|
|63884|Female|37.0|           0|            0|         Yes|      Private|         Rural|           162.96|39.4|   never smoked|
|37893|Female|37.0|           0|            0|         Yes|      Private|         Rural|             73.5|26.1|formerly smoked|
|67855|Female|40.0|           0|            0|         Yes|      Private|         Rural|            95.04|42.4|   never smoked|
|25774|  Male|35.0|           0|            0|          No|      Private|         Rural|            85.37|33.0|   never smoked|
|19584|Female|20.0|           0|            0|          No|      Private|         Urban|            84.62|19.7|         smokes|
|24447|Female|42.0|           0|            0|         Yes|      Private|         Rural|            82.67|22.5|   never smoked|
|49589|Female|44.0|           0|            0|         Yes|     Govt_job|         Urban|            57.33|24.6|         smokes|
|17986|Female|79.0|           0|            1|         Yes|Self-employed|         Urban|            67.84|25.2|         smokes|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
only showing top 20 rows

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|36306|  Male|80.0|           0|            0|         Yes|      Private|         Urban|            83.84|21.1|formerly smoked|
|61829|Female|74.0|           0|            1|         Yes|Self-employed|         Rural|            179.5|26.0|formerly smoked|
|14152|Female|14.0|           0|            0|          No|     children|         Rural|            95.16|21.2|           null|
|12997|  Male|28.0|           0|            0|          No|      Private|         Urban|            94.76|23.4|           null|
|40801|Female|63.0|           0|            0|         Yes|     Govt_job|         Rural|            83.57|27.6|   never smoked|
| 9348|Female|66.0|           1|            0|         Yes|      Private|         Urban|           219.98|32.2|   never smoked|
|51550|Female|49.0|           0|            0|         Yes|Self-employed|         Rural|            74.03|25.1|           null|
|60512|  Male|46.0|           0|            0|         Yes|     Govt_job|         Urban|            120.8|32.5|   never smoked|
|31309|Female|75.0|           0|            0|         Yes|Self-employed|         Rural|            78.71|28.0|   never smoked|
|39199|  Male|75.0|           0|            0|         Yes|Self-employed|         Urban|             77.2|25.7|         smokes|
|15160|Female|17.0|           0|            0|          No|      Private|         Rural|            78.16|21.9|           null|
|21705|Female|10.0|           0|            0|          No|     children|         Urban|           107.23|19.4|           null|
|19042|Female|47.0|           0|            0|         Yes|      Private|         Rural|             91.6|26.7|   never smoked|
|12249|Female|42.0|           0|            0|         Yes|      Private|         Urban|            83.05|32.3|           null|
|33104|Female|67.0|           0|            0|         Yes|     Govt_job|         Urban|            236.6|24.2|   never smoked|
|55264|Female|52.0|           0|            0|          No|Self-employed|         Urban|           109.49|24.5|   never smoked|
|29445|  Male|73.0|           0|            0|         Yes|Self-employed|         Rural|           109.66|40.0|           null|
|49013|Female|19.0|           0|            0|          No|      Private|         Rural|            88.51|22.1|           null|
|  276|  Male|15.0|           0|            0|          No|     children|         Rural|           101.36|22.3|           null|
|47721|Female|37.0|           0|            0|         Yes|     Govt_job|         Urban|           165.44|36.1|formerly smoked|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
only showing top 20 rows

In [5]:
#Counting number of rows of dataset1
dataset1.count()

43400

In [6]:
#Counting number of columns of dataset1
len(dataset1.columns)

11

In [7]:
#Counting number of rows of dataset2
dataset2.count()

18601

In [8]:
#Counting number of columns of dataset2
len(dataset2.columns)

11

In [9]:
#Appending two datasets
concat = dataset1.union(dataset2)
concat.show()

+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|   id|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|30669|  Male| 3.0|           0|            0|          No|     children|         Rural|            95.12|18.0|           null|
|30468|  Male|58.0|           1|            0|         Yes|      Private|         Urban|            87.96|39.2|   never smoked|
|16523|Female| 8.0|           0|            0|          No|      Private|         Urban|           110.89|17.6|           null|
|56543|Female|70.0|           0|            0|         Yes|      Private|         Rural|            69.04|35.9|formerly smoked|
|46136|  Male|14.0|           0|            0|          No| Never_worked|         Rural|           161.28|19.1|           null|
|32257|Female|47.0|           0|            0|         Yes|      Private|         Urban|           210.95|50.1|           null|
|52800|Female|52.0|           0|            0|         Yes|      Private|         Urban|            77.59|17.7|formerly smoked|
|41413|Female|75.0|           0|            1|         Yes|Self-employed|         Rural|           243.53|27.0|   never smoked|
|15266|Female|32.0|           0|            0|         Yes|      Private|         Rural|            77.67|32.3|         smokes|
|28674|Female|74.0|           1|            0|         Yes|Self-employed|         Urban|           205.84|54.6|   never smoked|
|10460|Female|79.0|           0|            0|         Yes|     Govt_job|         Urban|            77.08|35.0|           null|
|64908|  Male|79.0|           0|            1|         Yes|      Private|         Urban|            57.08|22.0|formerly smoked|
|63884|Female|37.0|           0|            0|         Yes|      Private|         Rural|           162.96|39.4|   never smoked|
|37893|Female|37.0|           0|            0|         Yes|      Private|         Rural|             73.5|26.1|formerly smoked|
|67855|Female|40.0|           0|            0|         Yes|      Private|         Rural|            95.04|42.4|   never smoked|
|25774|  Male|35.0|           0|            0|          No|      Private|         Rural|            85.37|33.0|   never smoked|
|19584|Female|20.0|           0|            0|          No|      Private|         Urban|            84.62|19.7|         smokes|
|24447|Female|42.0|           0|            0|         Yes|      Private|         Rural|            82.67|22.5|   never smoked|
|49589|Female|44.0|           0|            0|         Yes|     Govt_job|         Urban|            57.33|24.6|         smokes|
|17986|Female|79.0|           0|            1|         Yes|Self-employed|         Urban|            67.84|25.2|         smokes|
+-----+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
only showing top 20 rows

In [10]:
#Counting number of rows of the merged dataset
concat.count()

62001

In [11]:
#Counting number of columns of the merged dataset
len(concat.columns)

11

In [12]:
#Counting number of records in each type of attribute gender
concat.groupby('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|36622|
| Other|   13|
|  Male|25366|
+------+-----+

In [13]:
#Counting number of records in each type of attribute hypertension
concat.groupby('hypertension').count().show()

+------------+-----+
|hypertension|count|
+------------+-----+
|           1| 5794|
|           0|56207|
+------------+-----+

In [14]:
#Counting number of records in each type of attribute work_type
concat.groupby('work_type').count().show()

+-------------+-----+
|    work_type|count|
+-------------+-----+
| Never_worked|  252|
|Self-employed| 9654|
|      Private|35584|
|     children| 8769|
|     Govt_job| 7742|
+-------------+-----+

In [15]:
#Counting number of records in each type of attribute residence_type
concat.groupby('residence_type').count().show()

+--------------+-----+
|residence_type|count|
+--------------+-----+
|         Urban|31066|
|         Rural|30935|
+--------------+-----+

In [16]:
#Counting number of records in each type of attribute ever_married
concat.groupby('ever_married').count().show()

+------------+-----+
|ever_married|count|
+------------+-----+
|          No|22124|
|         Yes|39877|
+------------+-----+

In [17]:
#Counting number of records in each type of attribute smoking_status
concat.groupby('smoking_status').count().show()

+---------------+-----+
| smoking_status|count|
+---------------+-----+
|           null|19043|
|         smokes| 9319|
|   never smoked|22886|
|formerly smoked|10753|
+---------------+-----+

In [18]:
#Counting number of records in each type of attribute heart_disease
concat.groupby('heart_disease').count().show()

+-------------+-----+
|heart_disease|count|
+-------------+-----+
|            1| 2956|
|            0|59045|
+-------------+-----+

In [19]:
#Statistical summary of data
concat.describe().show()

+-------+-----------------+------+------------------+-------------------+-------------------+------------+---------+--------------+-----------------+-----------------+---------------+
|summary|               id|gender|               age|       hypertension|      heart_disease|ever_married|work_type|Residence_type|avg_glucose_level|              bmi| smoking_status|
+-------+-----------------+------+------------------+-------------------+-------------------+------------+---------+--------------+-----------------+-----------------+---------------+
|  count|            62001| 62001|             62001|              62001|              62001|       62001|    62001|         62001|            62001|            59948|          42958|
|   mean|36452.51481427719|  null|42.169475331042975|0.09345010564345736|0.04767665037660683|        null|     null|          null| 104.453831712391| 28.5870988189766|           null|
| stddev|21067.15594488889|  null|22.522099535371346| 0.2910645114143387|0.21308289396711122|        null|     null|          null| 42.9605371949353|7.766122190731495|           null|
|    min|                1|Female|              0.08|                  0|                  0|          No| Govt_job|         Rural|             55.0|             10.1|formerly smoked|
|    max|            72943| Other|              82.0|                  1|                  1|         Yes| children|         Urban|           291.05|             97.6|         smokes|
+-------+-----------------+------+------------------+-------------------+-------------------+------------+---------+--------------+-----------------+-----------------+---------------+

In [20]:
#Comparison between different types of gender having heart attacks
concat.crosstab('gender', 'heart_disease').show()

+--------------------+-----+----+
|gender_heart_disease|    0|   1|
+--------------------+-----+----+
|               Other|   13|   0|
|                Male|23606|1760|
|              Female|35426|1196|
+--------------------+-----+----+

In [21]:
#Comparison between different types of smoking status having heart attacks
concat.crosstab('smoking_status', 'heart_disease').show()

+----------------------------+-----+---+
|smoking_status_heart_disease|    0|  1|
+----------------------------+-----+---+
|             formerly smoked| 9818|935|
|                      smokes| 8713|606|
|                never smoked|22024|862|
|                        null|18490|553|
+----------------------------+-----+---+

In [22]:
#Comparison between different types of marital status having heart attacks
concat.crosstab('ever_married', 'heart_disease').show()

+--------------------------+-----+----+
|ever_married_heart_disease|    0|   1|
+--------------------------+-----+----+
|                        No|21893| 231|
|                       Yes|37152|2725|
+--------------------------+-----+----+

In [23]:
#Comparison between different types of work type having heart attacks
concat.crosstab('work_type', 'heart_disease').show()

+-----------------------+-----+----+
|work_type_heart_disease|    0|   1|
+-----------------------+-----+----+
|               children| 8765|   4|
|           Never_worked|  251|   1|
|          Self-employed| 8718| 936|
|                Private|33946|1638|
|               Govt_job| 7365| 377|
+-----------------------+-----+----+

In [24]:
concat.crosstab('residence_type', 'heart_disease').show()

+----------------------------+-----+----+
|residence_type_heart_disease|    0|   1|
+----------------------------+-----+----+
|                       Rural|29441|1494|
|                       Urban|29604|1462|
+----------------------------+-----+----+

In [25]:
#Comparison between patients with or without hypertension having heart attacks
concat.crosstab('hypertension', 'heart_disease').show()

+--------------------------+-----+----+
|hypertension_heart_disease|    0|   1|
+--------------------------+-----+----+
|                         1| 5040| 754|
|                         0|54005|2202|
+--------------------------+-----+----+

In [26]:
#Dropping column 'id'
concat.drop('id').columns

['gender',
 'age',
 'hypertension',
 'heart_disease',
 'ever_married',
 'work_type',
 'Residence_type',
 'avg_glucose_level',
 'bmi',
 'smoking_status']

In [121]:
from pyspark.sql.functions import col,sum

In [122]:
#Finding missing values
concat.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in concat.columns)).show()

+---+------+---+------------+-------------+------------+---------+--------------+-----------------+----+--------------+
| id|gender|age|hypertension|heart_disease|ever_married|work_type|Residence_type|avg_glucose_level| bmi|smoking_status|
+---+------+---+------------+-------------+------------+---------+--------------+-----------------+----+--------------+
|  0|     0|  0|           0|            0|           0|        0|             0|                0|2053|         19043|
+---+------+---+------------+-------------+------------+---------+--------------+-----------------+----+--------------+

In [109]:
#Identifying outliers in attribute bmi
df1 = concat.filter(concat['bmi'] < 10).select('bmi')
df1.count()

0

In [110]:
#Identifying outliers in attribute bmi
df2 = concat.filter(concat['bmi'] > 50).select('bmi')
df2.count()

838

In [111]:
#Identifying outliers in attribute age
df3 = concat.filter(concat['age'] < 0).select('age')
df3.count()

0

In [112]:
#Identifying outliers in attribute age
df4 = concat.filter(concat['age'] > 100).select('age')
df4.count()

0

In [113]:
#Identifying outliers in attribute average glucose level
df5 = concat.filter(concat['avg_glucose_level'] < 60).select('avg_glucose_level')
df5.count()

2443

In [114]:
#Identifying outliers in attribute average glucose level
df6 = concat.filter(concat['avg_glucose_level'] > 260).select('avg_glucose_level')
df6.count()

75

In [131]:
#Removing missing values
clean2 = concat.dropna()
clean2.count()

41495

In [132]:
#Removing outliers in attribute bmi
c1 = clean2.filter(concat['bmi'] > 10).select('id','gender','age','hypertension','heart_disease','work_type','Residence_type','ever_married','bmi','avg_glucose_level','smoking_status')
c1.count()

41495

In [133]:
#Removing outliers in attribute bmi
c2 = c1.filter(concat['bmi'] < 50).select('id','gender','age','hypertension','heart_disease','work_type','Residence_type','ever_married','bmi','avg_glucose_level','smoking_status')
c2.count()

40828

In [134]:
#Removing outliers in attribute age
c3 = c2.filter(concat['age'] > 0).select('id','gender','age','hypertension','heart_disease','work_type','Residence_type','ever_married','bmi','avg_glucose_level','smoking_status')
c3.count()

40828

In [135]:
#Removing outliers in attribute age
c4 = c3.filter(concat['age'] <100).select('id','gender','age','hypertension','heart_disease','work_type','Residence_type','ever_married','bmi','avg_glucose_level','smoking_status')
c4.count()

40828

In [136]:
#Removing outliers in attribute average glucose level
c5 = c4.filter(concat['avg_glucose_level'] > 60).select('id','gender','age','hypertension','heart_disease','work_type','Residence_type','ever_married','bmi','avg_glucose_level','smoking_status')
c5.count()

39197

In [137]:
#Removing outliers in attribute average glucose level
c6 = c5.filter(concat['avg_glucose_level'] < 260).select('id','gender','age','hypertension','heart_disease','work_type','Residence_type','ever_married','bmi','avg_glucose_level','smoking_status')
c6.count()

39137

In [138]:
#Selecting columns to be considered during analysis
clean = c6.select(['gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi','smoking_status'])

In [139]:
clean.count()

39137

In [141]:
len(clean.columns)

10

In [142]:
#Displaying the clean data
clean.show()

+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|gender| age|hypertension|heart_disease|ever_married|    work_type|Residence_type|avg_glucose_level| bmi| smoking_status|
+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
|  Male|58.0|           1|            0|         Yes|      Private|         Urban|            87.96|39.2|   never smoked|
|Female|70.0|           0|            0|         Yes|      Private|         Rural|            69.04|35.9|formerly smoked|
|Female|52.0|           0|            0|         Yes|      Private|         Urban|            77.59|17.7|formerly smoked|
|Female|75.0|           0|            1|         Yes|Self-employed|         Rural|           243.53|27.0|   never smoked|
|Female|32.0|           0|            0|         Yes|      Private|         Rural|            77.67|32.3|         smokes|
|Female|37.0|           0|            0|         Yes|      Private|         Rural|           162.96|39.4|   never smoked|
|Female|37.0|           0|            0|         Yes|      Private|         Rural|             73.5|26.1|formerly smoked|
|Female|40.0|           0|            0|         Yes|      Private|         Rural|            95.04|42.4|   never smoked|
|  Male|35.0|           0|            0|          No|      Private|         Rural|            85.37|33.0|   never smoked|
|Female|20.0|           0|            0|          No|      Private|         Urban|            84.62|19.7|         smokes|
|Female|42.0|           0|            0|         Yes|      Private|         Rural|            82.67|22.5|   never smoked|
|Female|79.0|           0|            1|         Yes|Self-employed|         Urban|            67.84|25.2|         smokes|
|Female|49.0|           0|            0|         Yes|      Private|         Rural|            60.22|31.5|         smokes|
|  Male|71.0|           0|            0|         Yes|      Private|         Urban|           198.21|27.3|formerly smoked|
|Female|59.0|           0|            0|         Yes|      Private|         Urban|           109.82|23.7|   never smoked|
|Female|25.0|           0|            0|         Yes|      Private|         Urban|            60.84|24.5|   never smoked|
|Female|67.0|           0|            0|         Yes|     Govt_job|         Rural|            94.61|28.4|         smokes|
|Female|38.0|           0|            0|          No|      Private|         Rural|            97.49|26.9|   never smoked|
|Female|54.0|           0|            0|         Yes|      Private|         Rural|           206.72|26.7|   never smoked|
|Female|70.0|           0|            0|         Yes|Self-employed|         Rural|           214.45|31.2|   never smoked|
+------+----+------------+-------------+------------+-------------+--------------+-----------------+----+---------------+
only showing top 20 rows

In [143]:
#Summarizing age attribute statistically
concat.describe('age').show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|             62001|
|   mean|42.169475331042975|
| stddev|22.522099535371346|
|    min|              0.08|
|    max|              82.0|
+-------+------------------+

In [144]:
#Summarizing avergae glucose level attribute statistically
concat.describe('avg_glucose_level').show()

+-------+-----------------+
|summary|avg_glucose_level|
+-------+-----------------+
|  count|            62001|
|   mean| 104.453831712391|
| stddev| 42.9605371949353|
|    min|             55.0|
|    max|           291.05|
+-------+-----------------+

In [145]:
#Summarizing bmi attribute statistically
concat.describe('bmi').show()

+-------+-----------------+
|summary|              bmi|
+-------+-----------------+
|  count|            59948|
|   mean| 28.5870988189766|
| stddev|7.766122190731495|
|    min|             10.1|
|    max|             97.6|
+-------+-----------------+

In [146]:
#Showing records after cleaning
clean.count()

39137

In [147]:
#Checking accuracy of Linear Regression for data mining on the cleaned dataset

In [223]:
from pyspark.ml.regression import LinearRegression

In [224]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [227]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

varIdxer = StringIndexer(inputCol='gender',outputCol='varIdgender').fit(clean)
clean = varIdxer.transform(clean)

IllegalArgumentException: 'requirement failed: Output column varIdgender already exists.'

In [228]:
varIdxer2 = StringIndexer(inputCol='work_type',outputCol='varIdworktype').fit(clean)
clean = varIdxer2.transform(clean)

In [229]:
varIdxer3 = StringIndexer(inputCol='Residence_type',outputCol='varIdresidencetype').fit(clean)
clean = varIdxer3.transform(clean)

In [230]:
varIdxer4 = StringIndexer(inputCol='smoking_status',outputCol='varIdsmokingstatus').fit(clean)
clean = varIdxer4.transform(clean)

In [231]:
varIdxer5 = StringIndexer(inputCol='ever_married',outputCol='varIdmarried').fit(clean)
clean = varIdxer5.transform(clean)

In [232]:
clean = OneHotEncoder(inputCol="varIdgender", outputCol="varCatgender").transform(clean)

IllegalArgumentException: 'requirement failed: Output column varCatgender already exists.'

In [233]:
clean = OneHotEncoder(inputCol="varIdworktype", outputCol="varCatworktype").transform(clean)

In [234]:
clean = OneHotEncoder(inputCol="varIdresidencetype", outputCol="varCatresidencetype").transform(clean)

In [235]:
clean = OneHotEncoder(inputCol="varIdsmokingstatus", outputCol="varCatsmokingstatus").transform(clean)

In [236]:
clean = OneHotEncoder(inputCol="varIdmarried", outputCol="varCatmarried").transform(clean)

In [237]:
assembler = VectorAssembler(
    inputCols=['age','hypertension','bmi','avg_glucose_level','varCatgender','varCatworktype','varCatresidencetype','varCatsmokingstatus','varCatmarried'],
    outputCol='features')

In [238]:
output = assembler.transform(clean)

In [239]:
output.printSchema()
output.head(1)

root
 |-- gender: string (nullable = true)
 |-- age: double (nullable = true)
 |-- hypertension: integer (nullable = true)
 |-- heart_disease: integer (nullable = true)
 |-- ever_married: string (nullable = true)
 |-- work_type: string (nullable = true)
 |-- Residence_type: string (nullable = true)
 |-- avg_glucose_level: double (nullable = true)
 |-- bmi: double (nullable = true)
 |-- smoking_status: string (nullable = true)
 |-- varIdgender: double (nullable = true)
 |-- varCatgender: vector (nullable = true)
 |-- varIdworktype: double (nullable = true)
 |-- varIdresidencetype: double (nullable = true)
 |-- varIdsmokingstatus: double (nullable = true)
 |-- varIdmarried: double (nullable = true)
 |-- varCatworktype: vector (nullable = true)
 |-- varCatresidencetype: vector (nullable = true)
 |-- varCatsmokingstatus: vector (nullable = true)
 |-- varCatmarried: vector (nullable = true)
 |-- features: vector (nullable = true)

[Row(gender='Male', age=58.0, hypertension=1, heart_disease=0, ever_married='Yes', work_type='Private', Residence_type='Urban', avg_glucose_level=87.96, bmi=39.2, smoking_status='never smoked', varIdgender=1.0, varCatgender=SparseVector(2, {1: 1.0}), varIdworktype=0.0, varIdresidencetype=0.0, varIdsmokingstatus=0.0, varIdmarried=0.0, varCatworktype=SparseVector(4, {0: 1.0}), varCatresidencetype=SparseVector(1, {0: 1.0}), varCatsmokingstatus=SparseVector(2, {0: 1.0}), varCatmarried=SparseVector(1, {0: 1.0}), features=DenseVector([58.0, 1.0, 39.2, 87.96, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0]))]

In [240]:
final_data = output.select("features",'heart_disease')
final_data.show()

+--------------------+-------------+
|            features|heart_disease|
+--------------------+-------------+
|[58.0,1.0,39.2,87...|            0|
|(14,[0,2,3,4,6,12...|            0|
|(14,[0,2,3,4,6,10...|            0|
|(14,[0,2,3,4,7,11...|            1|
|(14,[0,2,3,4,6,13...|            0|
|(14,[0,2,3,4,6,11...|            0|
|(14,[0,2,3,4,6,12...|            0|
|(14,[0,2,3,4,6,11...|            0|
|(14,[0,2,3,5,6,11...|            0|
|(14,[0,2,3,4,6,10...|            0|
|(14,[0,2,3,4,6,11...|            0|
|(14,[0,2,3,4,7,10...|            1|
|(14,[0,2,3,4,6,13...|            0|
|(14,[0,2,3,5,6,10...|            0|
|(14,[0,2,3,4,6,10...|            0|
|(14,[0,2,3,4,6,10...|            0|
|(14,[0,2,3,4,8,13...|            0|
|(14,[0,2,3,4,6,11...|            0|
|(14,[0,2,3,4,6,11...|            0|
|(14,[0,2,3,4,7,11...|            0|
+--------------------+-------------+
only showing top 20 rows

In [241]:
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [242]:
lr = LinearRegression(labelCol='heart_disease')

In [243]:
lrModel = lr.fit(train_data)

In [244]:
print("Coefficients: {} Intercept: {}".format(lrModel.coefficients,lrModel.intercept))

Coefficients: [0.0028501976030749325,0.03461851737410233,-0.00025531360004540156,0.0003936265260828681,0.01589073368075396,0.050875704497625594,-0.03329056934113632,-0.030750133402180378,-0.04100244978601662,0.00625474317868066,-0.002594993802006564,-0.02487609516088766,-0.007226023065390142,-0.02713302653081059] Intercept: -0.08304128990893143

In [245]:
test_results = lrModel.evaluate(test_data)

In [246]:
test_results.residuals.show()
print("RSME: {}".format(test_results.rootMeanSquaredError))

+--------------------+
|           residuals|
+--------------------+
| -0.0260998829549475|
|-0.02668521378575...|
|-0.09684262314219157|
|-0.14713639081867635|
|-0.18263822369203042|
|-0.03317920652158...|
|-0.07423482319493575|
|-0.10209350704558375|
| -0.2115206524550498|
|-0.17325860987893144|
|-0.18859979608581168|
|-0.02796023585377297|
|-0.01965744582246...|
|-0.06454210030201545|
|-0.06751108912554364|
|-0.07586885380909629|
|-0.11569166745194147|
|-0.17527391923568403|
| -0.2093389891296657|
|-0.19760252423217844|
+--------------------+
only showing top 20 rows

RSME: 0.21542829447732822

In [247]:
print("R2: {}".format(test_results.r2))

R2: 0.08661971831234527

In [161]:
#Checking accuracy of Logistic Regression for data mining on the cleaned dataset

In [162]:
from pyspark.ml.classification import LogisticRegression

In [163]:
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                                OneHotEncoder,StringIndexer)

In [164]:
gender_indexer = StringIndexer(inputCol='gender',outputCol='GenderIndex')
gender_encoder = OneHotEncoder(inputCol='GenderIndex',outputCol='GenderVec')

In [165]:
work_indexer = StringIndexer(inputCol='work_type',outputCol='WorkTypeIndex')
work_encoder = OneHotEncoder(inputCol='WorkTypeIndex',outputCol='WorkTypeVec')

In [166]:
married_indexer = StringIndexer(inputCol='ever_married',outputCol='EverMarriedIndex')
married_encoder = OneHotEncoder(inputCol='EverMarriedIndex',outputCol='EverMarriedVec')

In [167]:
residence_indexer = StringIndexer(inputCol='Residence_type',outputCol='ResidenceTypeIndex')
residence_encoder = OneHotEncoder(inputCol='ResidenceTypeIndex',outputCol='ResidenceTypeVec')

In [168]:
smoking_indexer = StringIndexer(inputCol='smoking_status',outputCol='SmokingStatusIndex')
smoking_encoder = OneHotEncoder(inputCol='SmokingStatusIndex',outputCol='SmokingStatusVec')

In [169]:
assembler = VectorAssembler(inputCols=['age',
 'GenderVec',
 'bmi',
 'avg_glucose_level',
 'hypertension',
 'WorkTypeVec',
 'EverMarriedVec','ResidenceTypeVec', 'SmokingStatusVec'],outputCol='features')

In [170]:
from pyspark.ml import Pipeline

In [171]:
log_reg_heart = LogisticRegression(featuresCol='features',labelCol='heart_disease')

In [172]:
pipeline = Pipeline(stages=[gender_indexer,work_indexer,married_indexer,residence_indexer,smoking_indexer,
                           gender_encoder,work_encoder,married_encoder,residence_encoder,smoking_encoder,
                           assembler,log_reg_heart])

In [173]:
train_heart_data, test_heart_data = clean.randomSplit([0.7,.3])

In [174]:
fit_model = pipeline.fit(train_heart_data)

In [175]:
results = fit_model.transform(test_heart_data)

In [176]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                       labelCol='heart_disease')

In [177]:
results.select('heart_disease','prediction').show()

+-------------+----------+
|heart_disease|prediction|
+-------------+----------+
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
|            0|       0.0|
+-------------+----------+
only showing top 20 rows

In [178]:
AUC = my_eval.evaluate(results)

AUC

0.5046344461960476

In [179]:
totalResults = results.select('heart_disease','prediction')

correctResults = totalResults.filter(totalResults['heart_disease'] == totalResults['prediction'])

countTR = totalResults.count()
print("Correct: " + str(countTR))

countTC = correctResults.count()
print("Total Correct: " + str(countTC))

Correct: 11592
Total Correct: 10976

In [180]:
#Checking accuracy of Tree model(Single decision tree, random forest, Gradient boosted tree) for data mining on the cleaned dataset

In [181]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [272]:
#varIdxer = StringIndexer(inputCol='gender',outputCol='vargender').fit(clean)
#clean = varIdxer.transform(clean)
#varIdxer2 = StringIndexer(inputCol='work_type',outputCol='varworktype').fit(clean)
#clean = varIdxer2.transform(clean)
#varIdxer3 = StringIndexer(inputCol='Residence_type',outputCol='varresidencetype').fit(clean)
#clean = varIdxer3.transform(clean)
#varIdxer4 = StringIndexer(inputCol='smoking_status',outputCol='varsmokingstatus').fit(clean)
#clean = varIdxer4.transform(clean)
#varIdxer5 = StringIndexer(inputCol='ever_married',outputCol='varmarried').fit(clean)
#clean = varIdxer5.transform(clean)

In [273]:
#clean = OneHotEncoder(inputCol="vargender", outputCol="varcatgender").transform(clean)
#clean = OneHotEncoder(inputCol="varworktype", outputCol="varcatworktype").transform(clean)
#clean = OneHotEncoder(inputCol="varresidencetype", outputCol="varcatresidencetype").transform(clean)
#clean = OneHotEncoder(inputCol="varsmokingstatus", outputCol="varcatsmokingstatus").transform(clean)
#clean = OneHotEncoder(inputCol="varmarried", outputCol="varcatmarried").transform(clean)

In [274]:
assembler = VectorAssembler(
  inputCols=['age',
             'bmi',
             'avg_glucose_level',
             'hypertension','varCatgender','varCatworktype','varCatresidencetype','varCatsmokingstatus','varCatmarried'],
              outputCol="features1")

In [275]:
output = assembler.transform(clean)

AnalysisException: "Reference 'varCatgender' is ambiguous, could be: varCatgender#5809, varCatgender#7050.;"

In [271]:
from pyspark.ml.feature import StringIndexer

In [252]:
indexer = StringIndexer(inputCol="heart_disease", outputCol="HeartDiseaseIndex")
output_fixed = indexer.fit(output).transform(output)

In [253]:
final_data = output_fixed.select("features1",'HeartDiseaseIndex')

In [254]:
train1_data,test1_data = final_data.randomSplit([0.7,0.3])

In [255]:
from pyspark.ml.classification import DecisionTreeClassifier,GBTClassifier,RandomForestClassifier
from pyspark.ml import Pipeline

In [256]:
dtc = DecisionTreeClassifier(labelCol='HeartDiseaseIndex',featuresCol='features1')
rfc = RandomForestClassifier(labelCol='HeartDiseaseIndex',featuresCol='features1')
gbt = GBTClassifier(labelCol='HeartDiseaseIndex',featuresCol='features1')

In [257]:
dtc_model = dtc.fit(train1_data)
rfc_model = rfc.fit(train1_data)
gbt_model = gbt.fit(train1_data)

In [258]:
dtc_predictions = dtc_model.transform(test1_data)
rfc_predictions = rfc_model.transform(test1_data)
gbt_predictions = gbt_model.transform(test1_data)

In [259]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
my_binary_eval = BinaryClassificationEvaluator(labelCol = 'HeartDiseaseIndex')

In [260]:
print("DTC")
print(my_binary_eval.evaluate(dtc_predictions))

print("RFC")
print(my_binary_eval.evaluate(rfc_predictions))

my_binary_gbt_eval = BinaryClassificationEvaluator(labelCol='HeartDiseaseIndex', rawPredictionCol='prediction')
print("GBT")
print(my_binary_gbt_eval.evaluate(gbt_predictions))

DTC
0.7561761225548912
RFC
0.8435945561792932
GBT
0.5007533993471214

In [261]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [262]:
acc_evaluator = MulticlassClassificationEvaluator(labelCol="HeartDiseaseIndex", predictionCol="prediction", metricName="accuracy")

In [263]:
dtc_acc = acc_evaluator.evaluate(dtc_predictions)
rfc_acc = acc_evaluator.evaluate(rfc_predictions)
gbt_acc = acc_evaluator.evaluate(gbt_predictions)

In [264]:
print("Here are the results!")
print('-'*40)
print('A single decision tree has an accuracy of: {0:2.2f}%'.format(dtc_acc*100))
print('-'*40)
print('A random forest ensemble has an accuracy of: {0:2.2f}%'.format(rfc_acc*100))
print('-'*40)
print('An ensemble using GBT has an accuracy of: {0:2.2f}%'.format(gbt_acc*100))

Here are the results!
----------------------------------------
A single decision tree has an accuracy of: 94.63%
----------------------------------------
A random forest ensemble has an accuracy of: 94.63%
----------------------------------------
An ensemble using GBT has an accuracy of: 94.63%

In [265]:
rfc_predictions.show()

+--------------------+-----------------+--------------------+--------------------+----------+
|           features1|HeartDiseaseIndex|       rawPrediction|         probability|prediction|
+--------------------+-----------------+--------------------+--------------------+----------+
|(14,[0,1,2,3,4,6]...|              0.0|[19.5385070109148...|[0.97692535054574...|       0.0|
|(14,[0,1,2,3,4,6]...|              0.0|[18.2777262992536...|[0.91388631496267...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.5492914096524...|[0.97746457048262...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.4116417380960...|[0.97058208690480...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.1348908454609...|[0.95674454227304...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.7571767526532...|[0.98785883763266...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.7456165971685...|[0.98728082985842...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.2095301170337...|[0.96047650585168...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.6317369758482...|[0.98158684879240...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[18.4737309629680...|[0.92368654814840...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[16.9578118963714...|[0.84789059481857...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[17.8009556394480...|[0.89004778197240...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[18.7225867313271...|[0.93612933656635...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[17.7848026727163...|[0.88924013363581...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[16.7961140989299...|[0.83980570494649...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.3895952683435...|[0.96947976341717...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[18.2304823578366...|[0.91152411789183...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.3537818461391...|[0.96768909230695...|       0.0|
|(14,[0,1,2,3,4,6,...|              1.0|[19.3072132260761...|[0.96536066130380...|       0.0|
|(14,[0,1,2,3,4,6,...|              0.0|[19.3072132260761...|[0.96536066130380...|       0.0|
+--------------------+-----------------+--------------------+--------------------+----------+
only showing top 20 rows